html {
    -moz-animation-name: rotateBody;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;
    -moz-animation-duration: 8000s;

    -webkit-animation-name: rotateBody;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 8000s;

    animation-name: rotateBody;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-duration: 8000s;

    transform-origin: 50% 50%;

}

@-moz-keyframes rotateBody {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes rotateBody {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes rotateBody {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}